@use '../utils' as u;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: clamp(u.em(28), u.em(16) + 2vw, u.em(40));
}

h2 {
  font-size: clamp(u.em(22), u.em(14) + 2vw, u.em(36));
}

p {
  margin-top: 0;
  font-size: u.em(16);
}

a,
a:visited,
a:active {
  text-decoration: none;
}